<ion-content>
  <div class="register-content">
    <img src="assets/images/logo.png" alt="logo" class="register-logo">
    <h1>Saúde Fácil</h1>

    <ion-card class="register-card">
      <h3>Cadastro</h3>
      <ion-card-content>

        <div class="login-form">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <ion-list lines="full" class="ion-margin-top">
              
              <!-- Captura de email -->
              <ion-item>
                <ion-label position="floating" style="margin-bottom: 12px;">Informe seu Email</ion-label>
                <ion-input 
                    type="text" 
                    formControlName="email" 
                    placeholder="@Example.com">
                </ion-input>
              </ion-item>
              <!-- Error Messages  -->
              <ion-item *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
                <ion-text color="danger" *ngIf="registerForm.get('email')?.hasError('required')">
                  O email é obrigatório.
                </ion-text>
                <ion-text color="danger" *ngIf="registerForm.get('email')?.hasError('email')">
                  Por favor escreva um email válido.
                </ion-text>
              </ion-item>

                <!-- Captura de CPF -->
              <ion-item>
                <ion-label position="floating" style="margin-bottom: 12px;">Informe seu CPF</ion-label>
                <ion-input
                  type="text"
                  formControlName="cpf"
                  (ionInput)="applyCpfMask($event)"
                  placeholder="000.000.000-00">
                </ion-input>
              </ion-item>
              <!-- Error Messages  -->
              <ion-item *ngIf="registerForm.get('cpf')?.invalid && (registerForm.get('cpf')?.dirty || registerForm.get('cpf')?.touched)">
                <ion-text color="danger" *ngIf="registerForm.get('cpf')?.hasError('required')">
                  O cpf é obrigatório.
                </ion-text>
                <ion-text color="danger" *ngIf="registerForm.get('cpf')?.hasError('cpf')">
                  Por favor escreva um cpf válido, use pontos e traços.
                </ion-text>
              </ion-item>

              <!-- Captura de telefone -->
              <ion-item>
                <ion-label position="floating" style="margin-bottom: 12px;">Informe seu Telefone</ion-label>
                <ion-input 
                  type="text" 
                  formControlName="phone" 
                  [clearIfNotMatch]="true" 
                  (ionInput)="applyPhoneMask($event)"
                  placeholder="(XX) XXXXX-XXXX">
                </ion-input>
              </ion-item>
              <!-- Error Messages  -->
              <ion-item *ngIf="registerForm.get('phone')?.invalid && (registerForm.get('phone')?.dirty || registerForm.get('phone')?.touched)">
                <ion-text color="danger" *ngIf="registerForm.get('phone')?.hasError('required')">
                  O telefone é obrigatório.
                </ion-text>
                <ion-text color="danger" *ngIf="registerForm.get('phone')?.hasError('phone')">
                  Por favor escreva um telefone válido.
                </ion-text>
              </ion-item>

              <!-- Captura Data de Nascimento -->
              <ion-item>
                <ion-label position="floating" style="margin-bottom: 12px;">Informe sua data de nascimento</ion-label>
                <ion-datetime-button datetime="datetime" style="margin-left: 100px;"></ion-datetime-button>
                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime id="datetime" presentation="date" formControlName="birthDay" (ionChange)="onDateChange($event)"></ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>
              <!-- Error Messages  -->
              <div *ngIf="isFieldInvalid('birthDay')" class="error-message">
                Fecha de nascimento requerida.
              </div>
            </ion-list>

            <!-- Botón de envío -->
            <ion-button expand="block" type="submit" [disabled]="registerForm.invalid" class="ion-margin-top" color="primary">
              Fazer Cadastro
            </ion-button>
          </form>
        </div>
        <p (click)="goToLogin()">Tenho Conta</p>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Loading -->
  <app-loading [show]="isLoading"></app-loading>

  <!-- Footer -->
  <ion-footer class="footer">
    <p>&copy; Drunk - Code</p>
  </ion-footer>
</ion-content>
